body {
  background: #fff;
}

main {
  background: #fff;
  color: black;
}

a.btn:hover {
  text-decoration: none;
}

.image-container {
  margin-right: 35px;
}

.image-container > img {
  width: 200px;
}