.custom-progress {
  width: 150px;
  height: 150px;
  line-height: 150px;
  margin: 20px 0px;
  position: relative;
}

.custom-progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* border: 12px solid #fff; */
  border: 12px solid var(--bs-gray-300);
  position: absolute;
  top: 0;
  left: 0;
}

.custom-progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.custom-progress .custom-progress-left {
  left: 0;
}

.custom-progress .custom-progress-bar {
  width: 100%;
  height: 100%;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.custom-progress .custom-progress-left .custom-progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.custom-progress .custom-progress-right {
  right: 0;
}

.custom-progress .custom-progress-right .custom-progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  /*animation: loading-1 1.8s linear forwards;*/
}

.custom-progress .custom-progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  /*background: #44484b;*/
  font-size: 24px;
  /* color: #fff; */
  line-height: 135px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
}

.custom-progress .custom-progress-bar {
  border-color: #023d6b;
  /* border-color: #adbde3; */
}

.custom-progress .custom-progress-left .custom-progress-bar {
  /*animation: loading-2 1.5s linear forwards 1.8s;*/
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}

@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
  }
}

@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(126deg);
    transform: rotate(126deg);
  }
}

@media only screen and (max-width: 990px) {
  .custom-progress {
    margin-bottom: 20px;
  }
}

@keyframes loading-rp {
  0% {
    -webkit-transform: rotate(var(--startrp));
    transform: rotate(var(--startrp));
  }
  100% {
    -webkit-transform: rotate(var(--endrp));
    transform: rotate(var(--endrp));
  }
}

@keyframes loading-lp {
  0% {
    -webkit-transform: rotate(var(--startlp));
    transform: rotate(var(--startlp));
  }
  100% {
    -webkit-transform: rotate(var(--endlp));
    transform: rotate(var(--endlp));
  }
}
