.arrow-left {
  width: 0; 
  height: 0; 
  align-self: center;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  border-right: 20px solid #023d6b;
}

/* Hide arrow when sidebar was collapsed */
.sidebar.show .arrow-left {
  visibility: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  /* padding: 90px 0 0; /* Height of navbar */
  /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1); */
  background-color: #EEE;
  /* background-color: #023d6b; */
  z-index: 1;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.sidebar::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

/* .sidebar.show {
  padding: 292px 0 0;
} */

.sidebar .nav-link {
  color: #023d6b;
  width: 100%;
  /* border-left: 5px solid transparent; */
}

.sidebar .nav-link.active {
  font-weight: bold;
  /* background: #fefefe;
  border-left: 5px solid #023d6b;
  border-top: 1px solid #023d6b;
  border-bottom: 1px solid #023d6b; */
}

.sidebar .nav-link:hover,
.sidebar .accordion-button:hover  {
  color: #002036;
  /* text-decoration: underline; */
}

.sidebar .nav-item > .d-flex.active {
  background: #e2e3e5;
  border: 1px solid #dfe0e1;
  border-right: 0px;
}

.sidebar .accordion-button {
  background-color: transparent;
  color: #023d6b;
  padding: 0.5rem 1rem;
}

.sidebar .accordion-button:after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23023d6b'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.sidebar .accordion-button:not(.collapsed) {
  box-shadow: none;
}

/* .sidebar .accordion-button:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
} */

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}


/* Collapse from off canvas */
@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    bottom: 0;
    /* left: -100%; */
    /* width: 100%; */
    left: -250px;
    width: 250px;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.show {
    visibility: visible;
    transform: translateX(100%);
  }
  .offcanvas-collapse.collapsing {
    height: auto;
  }
}


