#cancel {
  margin-top: 20px;
  margin-bottom: 0.5rem;
}

#sr-progress {
  visibility: none;
}

/* .progress-log-event:first-child {
  padding-top: 1rem;
} */

/* .progress-log-event:not(:first-child) {
  border-top: 1px solid #002036;
  padding: 8px 0px;
} */

#progress-log hr {
  color: #023d6b;
}

#progress-log hr:last-child {
  display: none;
  /* color: transparent;
  margin-bottom: 0; */
}