table {
  border-collapse: collapse;
  /* color: #023d6b !important; */
}

table td {
  border: 1px solid rgba(2, 61, 107, 0.25); /* #023d6b with 0.25 opcaity */
}

table tr:first-child td {
  border-top: 0;
}

table tr td:first-child {
  border-left: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:last-child {
  border-right: 0;
}

td a {
  color: #002036;
}