#admin-page {
  background: url("/hub/static/images/pages/admin/background.jpg") center center
    no-repeat;
  background-size: cover;
  height: 100%;
  padding: 4vh 0 0 0;
  /* color: black; */
}

#version-footer{
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

a.list-group-item.active {
  color: white;
  background-color: #004176;
  border-color: #004176;
}

.nav-pills a {
  color: #004176;
}

.nav-pills a:hover {
color: #225f8d;
}

.nav-pills .nav-link.active {
  background-color: #004176;
}
/* 
.table-striped > tbody > tr:nth-of-type(2n+1):hover {
  color: #212529;
  background-color: rgba(255, 255, 255, 0.75) !important;
} */