#logout-page {
  background: url("/hub/static/images/pages/login/background.jpg") center center
    no-repeat;
  background-size: cover;
  height: 100%;
}

#logout-page p {
  background-color: rgb(255, 255, 255, 0.8);
}