#spawn-pending-page {
    background: url("/hub/static/images/pages/spawn_pending/background.jpg") center center
    no-repeat;
  background-size: cover;
  height: 100%;
  padding: 4vh 0vh;
}

#cancel {
  border-color: red !important;
  margin-top: 20px;
}

#progress-message {
  display: none;
}

#sr-progress {
  visibility: none;
}

.content > p {
  color: white;
}

.text-div {
  padding: 10px 0;
}

.text-div > p {
  padding: 8px;
}

.progress-div {
  text-align: center;
  margin-right: 30px;
}

.progress-log-event {
  border-top: 1px solid #e7e7e7;
  padding: 8px;
}

