#token-page {
  background: url("/hub/static/images/pages/token/background.jpg") center center
    no-repeat;
  background-size: cover;
  height: 100%;
  padding: 4vh 0 0 0;
}

#request-token-form,
#token-area {
  width: 50%;
  min-width: max-content;
}

.lead {
  margin-bottom: 20px;
  /* font-size: 16px; */
  font-size: 1.5rem;
  font-weight: 300;
  /* line-height: 1.4; */
}

.revoke-token-btn {
  border: solid 1px white;
}
