#token-page {
  background: url("/hub/static/images/pages/token/background.jpg") center center
    no-repeat;
  background-size: cover;
  height: 100%;
  padding: 4vh 0 0 0;
}

#request-token-form,
#token-area {
  width: 50%;
}

.lead {
  margin-bottom: 20px;
  /* font-size: 16px; */
  font-size: 1.5rem;
  font-weight: 300;
  /* line-height: 1.4; */
}

.revoke-token-btn {
  border: solid 1px white;
}
/* 
.content {
  height: 100%;
  width: 78%;

  text-align: justify;
  color: black;
  font-family: "Weissenhof_Grotesk", Arial, Helvetica, sans-serif;
  padding: 4vh 4vh 0 4vh;
}

.content > h1 {
  text-align: left;
  padding-left: 3%;
}

.content > h3 {
  text-align: left;
  padding-left: 3%;
}

.rest-container {
  height: 81%;
  overflow-x: visible;
  overflow-y: auto;
}

.rest {
  height: 100%;
  padding: 0 2% 0 3%;
  margin: 0;
  text-align: justify;
}

.rest > ol > li {
  margin: 10px 0;
}

.button-container {
  border: solid 0.3vh white !important;
  border-radius: 6px !important;
}

.header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.header-row > .btn-group {
  margin-right: 0px;
}

.dropdown-menu {
  margin-left: -70px;
}

.placeholder {
  opacity: 0;
}

.image-text-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.image-container {
  margin-right: 55px;
  text-align: center;
  min-width: 200px;
}

.image-container > img {
  margin-top: 20px;
  width: 200px;
}

.jconfirm-box-container {
  width: 41.666667% !important;
  margin: auto !important;
  float: none !important;
} */
