#header {
  width: calc((100vh - 113px - 153px)*calc(1810 / 840)) !important;
  min-width: calc(1024px * .94) !important;
  max-width: 94% !important;
}

.footer-bottom {
  width: calc((100vh - 113px - 153px)*calc(1810 / 840)) !important;
  min-width: calc(1024px * .94) !important;
  max-width: 94% !important;
  margin: 0 auto;
}

#body {
  height: calc( 94vw * calc(840 / 1810));
}

.background-wrapper {
  height: calc( 94vw * calc(840 / 1810));
  min-height: 445px;
  max-height: calc(100% - 113px - 153px);

  width: calc((100vh - 113px - 153px)*calc(1810 / 840));
  min-width: 1024px;
  max-width: 94%;

  margin: 0 auto;
  background: url("/hub/static/images/pages/error/background.jpg") top center no-repeat;
  background-size: contain;
  position: absolute;

  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content {
  height: 100%;
  //background-color: rgb(173,189,227);
  //width: calc((100vh - 113px - 153px)*calc(1810 / 840) * 0.24);
  width: 45%;
  height: 95%;

  text-align: justify;
  color: black;
  font-family: "Weissenhof_Grotesk", Arial, Helvetica, sans-serif;
  padding: 0 4vh 0 4vh;
}

