/* Top 
Footer */

#footer-top {
  background-color: #EEE;
}

.ampel-img {
  height: 40px;
}

div[id^='ampel'] {
  min-width: 150px;
}

#footer-top a:not(.system-users) {
  color: #023d6b;
  font-weight: bold;
}

#footer-top a:hover {
  color: #002036;
}


/* Bottom 
Footer */

#footer-bottom {
  background-color: #002036;
  min-height: 60px;
  padding-left: 72px;
  padding-right: 72px;
}

#footer-bottom * {
  color: white;
  font-size: 14px;
}


/* Tooltip
*/

/* .tooltip-inner {
  background-color: #002036;
  border-radius: 0;
}

.tooltip .tooltip-arrow::before {
  border-top-color: #002036;
} */

.tooltip-inner {
  background-color: #002036;
  /* border-radius: 0; */
  max-width: unset;
  white-space: pre-line;
  text-align: start;
}

.tooltip-inner a {
  color: white !important;
  text-decoration: underline;
}

.tooltip .tooltip-arrow::before {
  border-color: transparent;
}

/* System Users Dashboard Links */

.system-users:hover {
  text-decoration: none;
  color: #002036 !important;
}

.system-users-link-div {
  position: relative;
  overflow: hidden;
  width: 16px;
  height: 16px; 
}

.system-users-link {
  position: absolute;
  left: -100px;
  top: -0.1rem;
  height: 16px;
  width: 16px;
  transition: 0.25s;
}

.system-users:hover .system-users-link {
  left: 0;
}