td h6 {
  font-size: .75rem;
}

tr.summary-tr {
  height: 73px
}

tr.collapsible-tr {
  height: unset;
}

.new-spawner-tr {
  --bs-table-bg: #fff;
  --bs-table-striped-bg: #fff;
  --bs-table-striped-color: #023d6b;
  --bs-table-active-bg: #fff;
  --bs-table-active-color: #023d6b;
  --bs-table-hover-bg: #e5e6e7;
  --bs-table-hover-color: #023d6b;
  color: #000;
  text-transform: uppercase
}


/*
Info icon
*/

.progress-log-btn {
  color: #023d6b;
}

.progress-log-btn:hover {
  color: #225f8d;
}


/* 
Collapse up and down icon
*/

.accordion-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.accordion-icon:after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform .2s ease-in-out;
}

.accordion-icon:not(.collapsed)::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	transform: rotate(-180deg);
}


/*
Vertical tabs
*/
.nav-pills button {
  display: flex;
  justify-content: space-between;
  text-align: start;
  color: #023d6b;
  border: 1px solid #023d6b !important;
}

.nav-pills button.active {
  background-color: #023d6b !important;
}

.nav-pills svg {
  margin: auto 0;
}


/* Module select all or none */
.form-check-input.module-selector:checked{
  background-color: var(--bs-success) !important;
  border: 0;
}
.form-check-input.module-selector:focus, .form-check-input.module-selector::after, .form-check-input.module-selector:not(:disabled):not(.disabled):active:focus {
  color: black;
  outline: 0;
  border: 0;
  box-shadow: 0 0 0 0.25rem rgb(25, 135, 84, 0.25) !important;
}

/* Module info link hover */
.module-info-link-div {
  position: relative;
  overflow: hidden;
  width: 16px;
  height: 16px; 
}

.module-info-link {
  position: absolute;
  left: -100px;
  top: -0.005rem;
  height: 16px;
  width: 16px;
  transition: 0.25s;
}

.module-info:hover .module-info-link {
  left: 0;
}

.module-info:hover {
  text-decoration: none;
}


/* Pre, mainly for reservation info */
pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

div[id$="na-info"] {
  white-space: pre-wrap;
}