/* Login div */

#login-div h3, 
#login-div h4 {
  color: #023d6b;
}

#upper-login-div {
  max-width: 450px;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  height: 100%;
  /* min-height: 400px; */
}

#lower-login-div {
  border: none;
}

#lower-login-div > div {
  /* max-width: 500px; */
}

#lower-login-div a,
#lower-login-div a:hover {
  border: solid 0.25vh white;
  text-decoration: none;
}

#lower-login-div img {
  border-radius: 50%;
  border: 0.25vh solid white;
  height: 90px;
}

.white-line {
  border-bottom: 0.25vh solid white;
  margin-bottom: -0.15vh;
  width: 10%;
}


/* Links */

#link-div ul {
  list-style-type: none;
}

#link-div li {
	margin: .3em 0;
}
 
#link-div a {
  display: block;
  color: #023d6b;
  padding: 15px 20px 15px 30px;
  background: url("/hub/static/images/sprite.png") #adbde3 no-repeat 12px -5139px;
  /* background-color: #adbde3; */
}

#link-div a:hover {
  color: #333333;
  background-color: #fff;
}


/* Carousel */

#carousel-background {
  background: url("/hub/static/images/pages/login/background.jpg") center center
  no-repeat;
  background-size: cover;
  min-height: 500px;
}

.carousel-inner {
  background-color: rgb(255, 255, 255, 0.7);
  /* background-color: rgb(255, 255, 255, 1); */
  color: black;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  margin: 5% 7% 0 7%;
  max-width: 900px;
  width: auto;
}

.carousel-item a {
  color: #023d6b;
}
.carousel-item h3 {
  background: url("/hub/static/images/pages/login/blue_line.png") no-repeat 0 100%;
  padding-bottom: 15px;
}

.carousel-item div.text-small ul {
  list-style-position: inside;
  padding-left: 0px;
}

.carousel-indicators button {
  border: 2px solid white !important;
  background-color: #adbde3 !important;
  border-radius: 50%;
  height: 14px !important;
  width: 14px !important;
  margin: 0 0.5rem;
}

.carousel-indicators button:hover {
  background-color: #002036 !important;
}

.carousel-indicators button.active {
  background-color: #023d6b !important;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #fff;
}

.carousel-control-prev-icon {
  background-image: url("/hub/static/images/pages/login/left_whitebg_arrow.svg");
}

.carousel-control-next-icon {
  background-image: url("/hub/static/images/pages/login/right_whitebg_arrow.svg");
}