.navbar-bottom {
  padding: 0;
}

.footer-top {
  width: 100%;
  background-color: #eeeeee;
  min-height: 63px;
}

.footer-top a {
  font-weight: bold;
  font-size: 17px;
  /* font-size : clamp(17px, 24px, 1vw); */
}

.footer-bottom {
  width: 100%;
}

.footer-bottom a {
  color: white !important;
  /* font-size: clamp(14px, 20px, 1vw); */
}

.ampel-img {
  height: 40px;
}

#helmholtz-logo {
  height: calc(36px + 1.5rem); /* 1.5rem padding bottom */
}

.footer-top > span,
.footer-top > div {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 42px;
  font-size: 17px;
  color: #004176;
  display: inline-block;
}

/* tooltip css */
.tooltip-inner {
  background-color: #eeeeee;
  border-radius: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 42px;
  font-size: 17px;
  color: #004176;
  width: auto !important;
  max-width: 100%;
}

.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before,
.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before,
.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before ,
.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
  border-top-color: transparent;
}


/* .footer-top > span,
.footer-top > div > a {
  font-weight: bold;
  display: inline-block;
  position: relative;
  top: 1px;
}

.ampel-div > span {
  display: none;
  position: absolute;
  top: -35px;
  margin-left: -17px;
  padding: 0px;
  height: 40px;
  background: #eeeeee;
}

.ampel-span-show {
  display: inline-block !important;
  padding: 2px 8px 0px 8px !important;
} */
