#header {
  min-height: 113px;
}

.jpy-logo {
  height: 51px;
}

.navbar-top {
  background: white;
  min-height: 113px;
  padding-bottom: 0px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #004176;
  background: repeating-linear-gradient( to bottom, #ffffff, #ffffff 90%, #004671 90.1%, #004671 100% );
  background-color: rgba(0, 0, 0, 0);
}

/* After reopening collapsed navbar height 0px gets set, which messes up the layout. */
#navbarNavDropdown:not(.collapsing):not(.show) {
	height: auto !important;
}

.nav-link {
  font-family: "Weissenhof_Grotesk", Arial, helvetica, sans-serif, "Droid Sans";
  font-size: 19px;
  /* font-size: clamp(19px, 10vw, 1vw); */
}

.navbar-top .dropdown-menu {
  background-color: #eeeeee;
  margin-top: 0;
  border-radius: 0;
  border: transparent;
  /* padding: 0; */
}

.dropdown-menu > li,
.dropdown-menu > li a:hover {
  background: url(/hub/static/images/sprite.png) no-repeat 12px -5153px;
  /* margin: 10px 0px 10px 10px; */
}

.dropdown-submenu {
  position: relative;
}

/* Align submenu popout to the right */
.dropdown-submenu > .dropdown-menu {
  top: -0.5rem;
  left: 100%;
  /* margin-top: 0px; */
  margin-left: 0px;
}

.dropdown-menu-2 {
  padding-top: 0.5rem 0;
}

.nav-item .dropdown-item:hover {
  color: #004176 !important;
  text-decoration: underline !important;
}  

li.nav-item.dropdown:hover ul.dropdown-menu-1 {
    display: block;    
}

li.dropdown-submenu:hover ul.dropdown-menu-2 {
    display: block;    
}

#login_widget span {
  color: #777;
}

select option {
  font-size: 14px;
}