{%- extends hostname + "/page.html" -%}

{%- block stylesheet -%}
  <link rel="stylesheet" href='{{static_url("css/legal.css")}}' type="text/css" />
  <style>
    h3 { margin-top: 1.5rem; }
  </style>
{%- endblock -%}

{%- block main -%}
<div class="container">
  <h1>Legal Notice</h1>
  <div class="text-container">
    <h2>Forschungszentrum Jülich GmbH</h2>

    <p>Wilhelm-Johnen-Straße<br>
      52428 Jülich</p>
    <p>Postal address:<br>
      52425 Jülich</p>
    <p>Delivery address:<br>
      Leo-Brandt-Straße<br>
      52428 Jülich</p>

    <p>Entered in the Commercial Register of the District Court of Düren, Germany: No. HR B 3498<br>
      Value Added Tax ID No. in accordance with § 27 a of the German VAT Law (Umsatzsteuergesetz): DE 122624631<br>
      Tax No.: 213/5700/0033</p>

    <h3>Board of Directors:</h3>
    <p>Prof. Dr.-Ing. Wolfgang Marquardt (Chairman of the Board of Directors)<br>
      Karsten Beneke (Vice-Chairman)<br>
      Prof. Dr. Harald Bolt</p>

    <h3>Supervisory Board:</h3>
    <p>Ministerialdirektor Volker Rieke</p>

    <h3>Responsible in the sense of § 55, 2nd paragraph of Rundfunkstaatsvertrag (German Interstate Treaty on
      Broadcasting):</h3>
    <p>Dr. Anne Rother<br>
      Forschungszentrum Jülich<br>
      Leiterin Unternehmenskommunikation<br>
      Wilhelm-Johnen-Straße, 52428 Jülich</p>

    <h3>Contact:</h3>
    <p>General inquiries: +49 2461 61-0<br>
      General fax no.: +49 2461 61-8100</p>
    <p>Internet: http://www.fz-juelich.de<br>
      Email address: <a class="RichTextIntLink" href="mailto:info@fz-juelich.de"
        title="info@fz-juelich.de"><span>info@fz-juelich.de</span></a></p>

    <h3>Copyright</h3>
    <p>Copyright and all other rights concerning the website of Forschungszentrum Jülich are held by Forschungszentrum
      Jülich GmbH. Use of the information contained on the website, including excerpts, is permitted for educational,
      scientific or private purposes, provided the source is quoted (unless otherwise expressly stated on the respective
      website). Use for commercial purposes is not permitted unless explicit permission has been granted by
      Forschungszentrum Jülich.</p>
    <p>For further information, contact: <a class="RichTextIntLink NavNode"
        href="https://www.fz-juelich.de/portal/EN/Press/CorporateCommunications/_node.html"
        title="Corporate Communications">Corporate Communications</a></p>

    <h3>Disclaimer</h3>
    <h4>Contents of the Website of Forschungszentrum Jülich</h4>
    <p>The website of Forschungszentrum Jülich has been compiled with due diligence. However, Forschungszentrum Jülich
      neither guarantees nor accepts liability for the information being up-to-date, complete or accurate.</p>

    <h4>Links to External Websites</h4>
    <p>The website of Forschungszentrum Jülich contains links to external third-party websites. These links to
      third-party sites do not imply approval of their contents. Forschungszentrum Jülich has no influence on the
      current or future contents of these sites. We therefore accept no liability for the accessibility or contents of
      such websites and no liability for damages that may arise as a result of the use of such content.</p>

    <h4>Data protection</h4>
    <p>Every time a user accesses a website hosted by Forschungszentrum Jülich GmbH and every time a file is requested,
      data connected to these processes are stored in a log. These data do not contain personal information; we are
      unable to trace which user accessed what information. Personal user profiles therefore cannot be created. The data
      that is saved will be used for statistical purposes only. This information will not be disclosed to third parties.
    </p>

    <p>
      <a class="RichTextIntLink NavNode" href="/hub/privacy" title="Data protection">Further information on data
        protection</a>
    </p>

    <hr />
    <div>Last updated:&nbsp;31 Mar 2020</div>
  </div>
</div>
{%- endblock -%}

{%- block script -%}
{{ super() }}
<script>
  function setTextContainerHeight() {
    let headerHeight = $("#header").outerHeight();
    let footerHeight = $("#footer").outerHeight();
    let h1Height = $("#imprint-page>h1").outerHeight()
    let h = headerHeight + footerHeight + h1Height;
    $(".text-container").css({ height: 'calc(92vh - ' + h + 'px' });
  }

  $(document).ready(setTextContainerHeight);
  $(window).resize(setTextContainerHeight);
</script>
{%- endblock -%}
