#dps-page {
  background: url("/hub/static/images/pages/dps/background.jpg") center center
    no-repeat;
  background-size: cover;
  height: 100%;
  padding: 0 3%;
  color: black;
}

#dps-page > h1:first-child{
  padding-top: 4vh;
}

#dps-page > p {
  margin-bottom: 0px;
}


th,
td {
  border: solid 1px black;
  padding: 2% 2%;
}

tr > th:first-child,
tr > td:first-child {
  text-align: left;
}

