#start-page {
  background: url("/hub/static/images/pages/home/background.jpg") center center
    no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 50vh;
  padding: 4vh 0vh;
}

#start-page h2 {
  color: #004176;
}

.nav-tabs {
  border-color: black;
}

.nav-tabs .nav-item a {
  background-color: #eeeeee !important;
  color: black !important;
  font-size: 14px;
}

.nav-tabs .nav-item a,
.nav-tabs .nav-item a.active {
  border-color: black !important;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
} 

.nav-tabs .nav-item a:hover {
  color: white !important;
  background-color: #225f8d !important;
}

.nav-tabs .nav-item a.active {
  background-color: #004176 !important;
  color: white !important;
}

.table {
  background-color: #eeeeee;
}

.table-bordered thead th {
  border-color: black;
  border-bottom-width: 1px;
}

.table-bordered  * td {
  border-color: black;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #f9f9f9;
}

.table-striped > tbody > tr:nth-of-type(2n+1):hover {
  color: #212529;
  background-color: rgba(0,0,0,.075) !important;
}

/* for a scrobllable table body */
/* tbody {
  display: block;
  overflow-y: auto;
}

tr {
    width: 100%;
    display: table;
    table-layout: fixed;
} */

.new-server-name {
  border: solid 1px #ccc;
  border-radius: 6px;
  padding-left: 0.5em;
}
