#imprint-page {
  background: url("/hub/static/images/pages/imprint/background.jpg") center center
    no-repeat;
  background-size: cover;
  height: 100%;
  padding: 0 3%;
  color: black;
}

#imprint-page > h1:first-child{
  padding-top: 4vh;
}

h1, h2, h3, h4, h5 {
  text-align: left;
}