#spawn-d1-page {
  background: url("/hub/static/images/pages/spawn/background.jpg") center center
    no-repeat;
  background-size: cover;
  height: 100%;
  padding: 4vh 0vh;
}

#spawn-d1-page h1 {
  color: black;
}

#reservation-infos {
  min-width: calc(400px + 30px + 1px); /* 15px padding both sides */
}

button.dropdown-toggle:hover,
button.dropdown-toggle:focus {
  color: #fff;
  background-color: #225f8d;
  border-color: #0e283b;
}

.label-primary {
  background-color: #2c7bb6;
}

.custom-label {
  margin-right: 6px;
  height: 34px;
  padding: 6px;
  background: white;
  border: 1px solid;
  border-radius: 6px;
  text-align: right;
  min-width: 110px;
}

.custom-label.resource {
  min-width: 192px;
}

.custom-button {
  border-style: solid;
  margin-top: -4px;
  text-align: right;
  background: white;
  border-color: black;
  min-width: 166px;
}

.custom-input {
  float: unset;
  max-width: 6em;
  min-width: 6em;
  text-align: right;
  border: solid 1px black !important;
  border-radius: 6px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px;
  vertical-align: middle;
}

.custom-th {
  padding-left: 5em;
  /* text-align: center; */
  min-width: 400px;
}

.pull-right {
  text-align: right !important;
}

.material-switch > input[type="checkbox"] {
  display: none;
}

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px;
}

.material-switch > label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: "";
  height: 16px;
  margin-top: -8px;
  margin-left: -40px;
  position: absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}

.material-switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: "";
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 20px;
}

/* .tooltip-inner {
  max-width: 320px; 
  width: 320px;
  text-align: left;
} */