#tos-page {
  background: url("/hub/static/images/pages/tos/background.jpg") center center
    no-repeat;
  background-size: cover;
  height: 100%;
  padding: 0 3%;
  color: black;
}

#tos-page > h1:first-child{
  padding-top: 4vh;
}

h1, h3 {
  text-align: left;
}