#vo-info-page {
  background: url("/hub/static/images/pages/2FA/background.jpg") center center
    no-repeat;
  background-size: cover;
  height: 100%;
  padding: 4vh 3%;
  color: black;
}

h4 {
  font-size: 1.25rem;
}

.placeholder {
  opacity: 0;
}

.image-container {
  margin-right: 55px;
  min-width: 200px;
  text-align: center;
}

.image-container > img {
  /* margin-top: 20px; */
  width: 200px;
}

.text-container {
  min-height: unset;
}